.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  background-color: var(--vermelho);
  padding: 40px 0;
  position: sticky;
  top: 0;

  .header__logotipo {
    max-width: 200px;
  }

  .header__menu {
    display: flex;
    gap: 20px;

    .header__menu__link {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border-radius: 4px;
      color: var(--branco);
      border: solid var(--branco) 0.5px;
    }
  }
}