.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  background-color: var(--vermelho);
  padding: 40px 0;

  .header__logotipo {
    max-width: 200px;
  }

  .header__menu {
    display: flex;
    gap: 20px;

    .header__menu__link--branco {
      color: var(--branco);
    }
  }
}