@import url(_root.css);
@import url(_button-small.css);
@import url(_header.css);
@import url(_sticky-top.css);

/* Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}